<h3 class="text-center">Agregar doctores</h3>
<form>
    <div class="card mb-3">
        <div class="card-body">
            <div class="mb-3">
                <label class="form-label">Nombres</label>
                <input type="text" class="form-control" id="inputNombres" placeholder="Nombres" required />
            </div>
            <div class="mb-3">
                <label class="form-label">Apellidos</label>
                <input type="text" class="form-control" id="inputApellidos" placeholder="Apellidos" />
                <div class="invalid-feedback">
                    Please provide a valid city.
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label">Fecha de Nacimiento</label>
                <input type="date" class="form-control" id="inputDireccion" placeholder="Fecha de Nacimiento" />
            </div>
            <div class="mb-3">
                <label class="form-label">Dirección</label>
                <input type="text" class="form-control" id="inputDireccion" placeholder="Dirección" />
            </div>
        </div>
        <div class="card-footer">
            <button type="button" class="btn btn-warning">
                Editar
            </button>
            <button type="button" class="btn btn-primary">
                Registrar
            </button>
        </div>
    </div>
</form>