<h3 class="text-center">Agregar de especialidades</h3>
<form [formGroup]="form" (ngSubmit)="save($event)">
    <div class="mb-3">
        <input type="text" class="form-control" formControlName="nombre" placeholder="Nombres" />
    </div>
    <div class="mb-3">
        <input type="text" class="form-control" formControlName="descripcion" placeholder="Descripcion" />
    </div>
    <button type="submit" class="btn btn-primary">
        Registrar
    </button>
</form>

<h3 class="text-center">Lista de especialidades</h3>
<div class="mb-3">
    <input autoComplete="off" type="text" class="form-control" id="inputContraseña" placeholder="Buscar" />
</div>
<div class="card mb-3 table-responsive">
    <table class="table mb-0 table-bordered table-hover table-responsive">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nombre</th>
                <th scope="col">Descripción</th>
                <th scope="col">Fecha_on</th>
                <th scope="col">Update_on</th>
                <!-- <th scope="col">Acciones</th> -->
            </tr>
        </thead>
        <tbody>
            <tr key="hh" *ngFor="let obj of listaEspecialidades">
                <td>{{obj.idEspecialidad}}</td>
                <td>{{obj.nombre}}</td>
                <td>{{obj.descripcion}}</td>
                <td>{{obj.create_on}}</td>
                <td>{{obj.update_on}}</td>
                <!-- <td>
                    <a class="btn btn-warning btn-sm mx-2"
                        [routerLink]="['/hospitales/editar-hospitales',obj.idHospital]">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"><i style="color: #fff"
                                class="fas fa-edit"></i></span>
                    </a>
                    <button title="delate" class="btn btn-danger btn-sm">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"><i
                                class="fas fa-trash-alt"></i></span>
                    </button>
                </td> -->
            </tr>
        </tbody>
    </table>
</div>