<h3 class="text-center">Agregar especialidades</h3>

<button type="button" class="btn btn-sm btn-secondary mb-2" (click)="goBack()">regresar</button>

<form [formGroup]="form" (ngSubmit)="save($event)">

    <div class="card mb-3">
        <div class="card-body">
            <div class="mb-3">
                <label class="form-label">Nombres *</label>
                <input type="text" class="form-control" formControlName="nombre"  maxlength="50" size="50" placeholder="Nombres" />
            </div>
            <div class="mb-3">
                <label class="form-label">Descripción *</label>
                <input type="text" class="form-control" formControlName="descripcion"  maxlength="50" size="50" placeholder="Descripcion" />
            </div>
        </div>
        <div class="card-footer">
            <button type="button" (click)="goBack()" class="btn btn-sm btn-danger me-2"
                style="color: #fff;">
                Cancelar
            </button>
            <button *ngIf="IdEspecialidad" type="button" (click)="actualizarEspecialidad()" class="btn btn-sm btn-warning" style="color: #fff;">
                Guardar Cambios
            </button>
            <button *ngIf="!IdEspecialidad" type="submit" class="btn btn-sm btn-primary">
                Registrar
            </button>
        </div>
    </div>
</form>