<h3 class="text-center">Lista de doctores</h3>
<div class="d-flex justify-content-between">
    <a class="btn btn-primary mb-3" (click)="navigateCreate()">
        Agregar
    </a>
</div>
<div class="mb-3">
    <input autoComplete="off" type="text" class="form-control" id="inputContraseña" placeholder="Buscar" />
</div>
<div class="card mb-3 table-responsive">
    <table class="table mb-0 table-bordered table-hover table-responsive">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Fecha Nacimiento</th>
                <th scope="col">Direccion</th>
                <th scope="col">Fecha_on</th>
                <th scope="col">Update_on</th>
                <th scope="col">Accion</th>
                <th scope="col">add especialidad</th>
            </tr>
        </thead>

        <tbody>
            <tr key="hh" *ngFor="let obj of listaDoctores">
                <td>{{obj.idDoctor}}</td>
                <td>{{obj.nombre}}</td>
                <td>{{obj.apellido}}</td>
                <td>{{obj.fecha_nac}}</td>
                <td>{{obj.direccion}}</td>
                <td>{{obj.create_on}}</td>
                <td>{{obj.update_on}}</td>
                <td>
                    <a class="btn btn-warning btn-sm mx-2"
                        [routerLink]="['/doctores/editar-doctores',obj.idDoctor]">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"><i style="color: #fff"
                                class="fas fa-edit"></i></span>
                    </a>
                </td>
                <td>
                    <button title="delate" class="btn btn-danger btn-sm">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"><i
                                class="fas fa-trash-alt"></i></span>
                    </button>
                </td>

            </tr>
        </tbody>
    </table>
</div>